<%- include('header'); -%>

    <h1>Add Categorie</h1>
    <div class="form">

        <form method="POST" action="/addcat" class="form">
            <div class="form-group">
                <label>Nom du Categorie</label>
                <input placeholder="Categorie" name="categorie" class="input" id="nom" type="text" required>
            </div>
                      
            <input class="but" type="submit" value="Add">
        </form>



        <br> <br>
    </div>






</body>

</html>