<%- include('header'); -%>

    <h1>Add Products</h1>
    <div class="form">

        <form method="POST" action="/addprod" class="form">
            <div class="form-group">
                <label>Name Of The Product</label>
                <input placeholder="name" name="nom" class="input" id="nom" type="text" required>
            </div>


            <div class="form-group">
                <label>Price (DH)</label>
                <input placeholder="price" name="prix" class="input" id="age" type="number" required>
            </div>



            <div class="form-group">
                <label>Category:</label>
                <select name="categ" class="input" required>
                    <% category.forEach(function (cat) { %>

                    <option> <%= cat.catname %> </option>

                    <% }) %>
                </select>
                <a class="but" href="/addcat">Add Category</a>

            </div>


            <input class="but" type="submit" value="Add">

        </form>
        <a href="/" class="add">/Product</a>


    </div>






    </body>

    </html>