<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Gestion d'inventaire</title>

    <style>
        body{
        background-color : #b2bec3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: monospace;
    }

    form{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 20px;
        margin-top: 80px;
    }

    .add{
        font-size: 20px;
    }
    .sk{
        font-size: 60px;
        margin-bottom: 200px;

    }

    .table{
        font-size: 15px;
    }

    .link{
        display: flex;
        flex-direction: column;
    }
    </style>
</head>


<body>
